#biblivre_record_textarea {
  display: none;
}

#biblivre_marc_textarea, #biblivre_holding_marc_textarea {
  width: 746px;
  height: 400px;
  padding: 2px;
  border: 1px solid #b3b3b3;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
}

#database_selection {
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 2px 10px 10px 10px;
  height: 41px;
}
#database_selection .title {
  padding-top: 6px;
  margin-right: 5px;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  text-shadow: 1px 1px #FFFFFF;
}
#database_selection .count {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px #FFFFFF;
  color: #707070;
}
#database_selection .count.loading strong {
  padding-right: 20px;
  background: url("../images/ajax-loader.gif") no-repeat right center;
}
#database_selection .count strong {
  color: #44749d;
}
#database_selection .buttons {
  position: absolute;
  right: 10px;
  top: 12px;
}
#database_selection .combo_wrap {
  text-align: left;
  border-color: transparent;
  background-color: transparent;
  padding: 2px 0 2px 8px;
}
#database_selection .combo_wrap.active {
  background-color: #d2d2d2;
  border-color: #b0b0b0;
}
#database_selection .combo_wrap .combo_text {
  font-size: 16px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
}
#database_selection .combo_wrap .combo_arrow {
  height: 18px;
}

.biblivre_record_extra ul {
  padding: 5px 10px 0 10px;
  list-style-type: circle;
  list-style-positin: inside;
}
.biblivre_record_extra ul li {
  padding: 2px 0;
  margin: 0 10px 0 30px;
  position: relative;
}
.biblivre_record_extra ul li .xclose {
  position: absolute;
  right: 0;
  top: 0;
}
.biblivre_record_extra .upload {
  margin: 10px;
  line-height: 28px;
}
.biblivre_record_extra .upload input {
  width: 500px;
}

.biblivre_holdings label {
  font-weight: bold;
}

.automatic_holding {
  margin-top: 15px;
}
